body {
    /* background-color: DarkGray; */
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
}

h1 {
    text-align: center;
    color: #1d3557;
}

.A {
    color: #e63946;
    font-weight: bold;
}

.B {
    color: #a8dadc;
    font-weight: bold;
}

label {
    padding: 0 0 0 1em;
}

#calculator {
    color: #1d3557;
    max-width: 700px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    border: solid;
    border-color: #a8dadc;
    border-width: 3px;
    border-radius: 20px;
}

#result_string {
    padding: 2em 1em 0em 1em;
    text-align: center;
}

.data_entry_row,
.data_entry_button {
    padding: 1em 1em 0em 1em;
    display: flex;
    display: -webkit-flex;
}

#plot {
    width: 60%;
    height: 40%;
    margin: 0 auto 5px auto;
}

.data_entry_radio {
    padding: 1em 1em 0em 2em;
}

.data_entry_row input[type=text] {
    width: 50px;
    border-radius: .5em;
}

.footer {
    text-align: center;
    font-size: 10px;
}

.value_data {
    visibility: hidden;
}

.data_entry_row label {
    width: 120px;
}

#calculate_button {
    font-size: 16px;
    font-weight: bold;
    color: #1d3557;
    background: #a8dadc;
    border-color: #a8dadc;
    appearance: none;
    border-radius: 2em;
}

@media (max-width: 900px) {

    h1 {
        font-size: 1em;
    }

    .data_entry_row {
        flex-direction: column;
        align-items: flex-end;
    }

    .data_entry_button {
        justify-content: center;
        -webkit-justify-content: center;
    }

    .data_entry_radio {
        align-items: flex-end;
    }

    #calculator {
        font-size: 16px;
        width: 350px;
        height: 650px;
    }

    #plot {
        width: 100%;
        height: 35%;
    }
}